{% extends "base.twig" %}

{% block content_middle %}

<article class="ProjectContent">

  <header>
    <h2>{{post.title}}</h2>
    <nav class="Nav ProjectContent-nav">
      <ul class="Arrange">
        {% for page in post.get_field('sub_pages') %}
        <li class="Nav-item Arrange-sizeFit"><a href="#{{loop.index}}">{{page.sub_page_title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="YScroll">
    <div class="Article">
      {% for page in post.get_field('sub_pages') %}
      <div class="{% if loop.first != true %}u-hidden{% endif %}">
        {{page.sub_page_content}}
      </div>
      {% endfor %}
    </div>
  </div>

</article>

{% endblock %}

{% block content %}

  <article>

    <div class="HorizontalTable">
      {% for img in post.get_field('gallery') %}
      <div class="HorizontalTable-cell HorizontalTable-cell--img">
        <div class="HorizontalTable-cell-container HorizontalTable-cell-container--img">
          <div class="Image{% if loop.first %} Image--first{% endif %}">
            <img src="{{TimberImage(img).src('large')}}" alt="">
            {% if (TimberImage(img).caption or TimberImage(img).materials or TimberImage(img).dimensions) %}
              <ul class="Image-caption">
                {% if TimberImage(img).caption %}
                  <li class="Image-caption-item">{{ TimberImage(img).caption }}</li>
                {% endif %}
                {% if TimberImage(img).materials %}
                  <li class="Image-caption-item">{{ TimberImage(img).materials }}</li>
                {% endif %}
                {% if TimberImage(img).dimensions %}
                  <li class="Image-caption-item">{{ TimberImage(img).dimensions }}</li>
                {% endif %}
              </ul>
            {% endif %}
        	</div>
        </div>
      </div>
      {% endfor %}
    </div> <!--- /.HorizontalTable -->

  </article>

{% endblock %}
