{% extends "base.twig" %}

{% block content %}

{% embed "layout-with-subnav.twig" with {'extra_class':'Content--topPad'} %}

  {% block subnav %}
    <h2>{{post.title}}</h2>
    <nav class="Nav ProjectNav">
      <ul class="Arrange Arrange--withGutter js-tabs" role="tablist">
        <li id="tab0" role="tab" class="Nav-item Arrange-sizeFit Nav--active" aria-controls="panel0" aria-selected="true"><a href="#panel0">Gallery</a></li>
        {% for page in post.get_field('sub_pages') %}
        <li id="tab1" role="tab" class="Nav-item Arrange-sizeFit" aria-controls="panel{{loop.index}}" aria-selected="false"><a href="#panel{{loop.index}}">{{page.sub_page_title}}</a></li>
        {% endfor %}
      </ul>
    </nav>

  {% endblock %}

  {% block main %}

  <div class="Content-fullScroll">
  	<div class="Content-fullScroll-inner">

  		<div id="panel0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false">
  		  <div class="HorizontalTable">
  		    {% for img in post.get_field('gallery') %}
  		    <div class="HorizontalTable-cell HorizontalTable-cell--img">
  		      <div class="HorizontalTable-cell-container HorizontalTable-cell-container--img">
              {% include 'image-with-caption.twig' with {'img':img, 'extra_class' : loop.first ? 'Image--first' : ''} %}
  		      </div>
  		    </div>
  		    {% endfor %}
  		  </div> <!--- /.HorizontalTable -->
  		</div>

  	</div>
  </div>


  <div class="Content-fullScroll Content-fullScroll--constrain">
  	<div class="Content-fullScroll-inner">

      {% for page in post.get_field('sub_pages') %}
  		<div id="panel{{loop.index}}" role="tabpanel" aria-labelledby="tab{{loop.index}}" aria-hidden="true">
  		  <div class="ProjectContent">
          <div class="Article">
            {{page.sub_page_content}}
          </div>
  		  </div>
  		</div>
      {% endfor %}

  	</div>
  </div>

  {% endblock %}

{% endembed %}

{% endblock %}
